.card {
  background-color: white;
  border-radius: 26.58px;
  width: 308.55px;
}
.card img {
  height: 310px;
  width: 310px;
}
.cardInfo {
  padding: 38px 11px;
}
.cardInfo h2 {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24.81px;
  line-height: 1.5;
  color: #454545;
  width: 80%;
}
.cardInfo h6 {
  font-weight: 500;
  font-size: 20px;
  color: #454545;
}
.productButton {
  background-color: #ffd7be;
  padding: 10px 62px;
  border-radius: 6px;
  border: none;
  color: white;
  font-size: 9px;
  margin-top: 18px;
  margin-left: 15px;
}
.productButton:hover {
  background-color: #fac3a1;
}
.test {
  position: relative;
}
.emoji {
  border: 1px solid;
  padding: 5px;
  border-radius: 100%;
  color: #ffd7be;
  position: absolute;
  top: 16px;
  left: 215px;
}
